
4 Convolutional Neural Networks/W4/W4A1/keras-facenet_tf23/variables/variables.data-00000-of-00001
*.h5
*.index
*.jpg
*.pb
*.png
*.json
4 Convolutional Neural Networks/W4/W4A1/keras-facenet_tf23/.DS_Store
*.mat
